<% if current_user != @user %>
  <% if current_user.friends.include?(@user) %>
    <%= button_to "Remove Friend", remove_friend_path(@user.id), method: :delete %>
  <% else %>
    <%= button_to "Send Friend Request", send_friend_request_path(receiver_id: @user.id), method: :post %>
  <% end %>
<% end %>

<!--Check if profile is nil -->
<% unless @profile.nil? %>
  <h2>Profile</h2>
  <div class="profile-info">
  <h2><%= @profile.name %></h2>
  <p><%= @profile.bio %></p>
  <p><%= @profile.location %></p>
</div>
<div class="profile-photo">
  <img src="<%= @profile.avatar %>" alt="<%= @user.email %>">
</div>
<% end %>

<% if @profile.nil? %>
  <%= link_to "Create Profile", new_profile_path %>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-content">
      <%= post.content %>
    </div>
    <div class="post-comments">
      <% post.comments.each do |comment| %>
        <div class="comment">
          <%= comment.content %>
        </div>
      <% end %>
    </div>
    <div class="post-likes">
      <%= post.likes.count %> likes
    </div>
  </div>
<% end %>

